/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,600,700);*/

/*--- Fonts Used ---*/

/*'muliBT-Medium'*/
/*'muliBT-Book'*/
/*'ArialMT-Regular'*/
/*'Arial'*/

.mar-0 {
	margin: 0;
}
.padd-0 {
	padding: 0 !important;
}
.clear{
	clear: both;
}

$purple: #9C1A87;
$light_purple: #dc26bf;
$grey: #505050;
$white: #fff;
$border_grey: #8d8d8d;
$roboto : 'Roboto', sans-serif;
$muli: 'Muli', sans-serif;

body {
	font-family: $roboto;
	color: $grey;
}
a {
	&:hover, &:link, &:visited, &:active {
		text-decoration: none;
	}
	&.active {
		color: $light_purple;
	}
}


/*---- header.php -----*/

header {
	box-shadow: 0 0 10px 1px #aaa;
	z-index: 1;
	.upper-header {
		border-bottom: 1px solid #ddd;
		padding: 12px 0;
		.logo {
			padding-top: 15px;
			img {
				width: 250px;
				height: auto;
			}
		}
		.top-menu {
			ul {
				padding-left: 0;
				margin-top: 0;
				li {
					list-style-type: none;
					display: inline-block;
					margin-right: 8px;
					a {
						color: $grey;
						font-size: 13px;
							/*font-family: ArialMT-Regular;*/
						&.active, &:hover {
							color: $light_purple;
						}
					}
				}
			}
			&.header-side-menu {
				ul li {
					margin-right: 5px;
				}
				img {
					width: 15px;
					height: auto;
				}
			}
		}
		.header-search {
			position: relative;
			input {
				padding: 5px 10px;
				color: $white;
				border: 1px solid $purple;
				background: $purple;
				width: 100%;
				position: relative;
				outline: none;
				height: 34px;
				
				&:focus {
					background: none;
					box-shadow: none;
					color: $grey;
					outline: 0;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $white;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $white;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $white;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $white;
				}
			}
			 > div {
	        	position: absolute;
			    top: 0;
			    right: 0;
			    width:30px;
			    color: #FFF;
			    background: $purple;
			    height: 34px;
			}
		}
		.header-btns {
			text-align: right;
			a {
		    display: inline-block;
		    padding: 8px 35px;
		    background: #777;
		    border: 1px solid #777;
		    color: $white;
		    text-transform: uppercase;
		    font-weight: 400;
			font-family: $muli;
		    
		    &:first-child {
		    	border: 1px solid #ccc;
		    	background: none;
		    	color: #777;
		    	margin-right: 15px;
		    }
		    &:hover {
		    	background: #777;
		    	color: $white;
		    }
		  }
		}
	}
	ul.header-menu {
		padding-left: 0;
		margin: 0;
		li {
			font-family: $muli;
			font-weight: 600;
			list-style-type: none;
			display: inline-block;
			padding: 10px;
			width: 180px;
			text-align: center;
			border: 1px solid $white;
			a {
				color: $grey;
				font-size: 18px;
			}
			img {
				width: 25px;
				height: auto;
				filter: grayscale(100%);
			}
			&:hover {
				border: 1px solid $light_purple;
				border-bottom: none;
				img {
					filter: grayscale(0);
				}
				a {
					color: $light_purple;
				}
			}
		}
	}
}

/*--- index.php ----*/

.home-banner {
	z-index: -1;
	img {
		width: 100%;
		height: auto;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 4px 10px 0px #ccc; 
	}
}
.lightgrey-back {
	box-shadow: 0 0 10px 2px #ccc;
	background: #f3f4f6;
	padding: 20px 0;
	margin-bottom: 50px;
	.homefeatures-sec {
		border-right: 1px solid #d7d7d9;
		padding: 0 20px;
		min-height: 100px;
		h2 {
			font-family: $muli;
			margin: 0;
			font-size: 18px;
		}
	}
}
a.shiny-link {
	text-transform: uppercase;
	color: $light_purple;
	font-family: $muli;
	font-weight: 700;
	&:hover {	
		border-bottom: 2px solid $light_purple;
	}
}
.sec-title {
	background: url('img/sec-title-line.png');
	background-repeat: repeat-x;
	background-position: center; 
	padding: 5px 0;
	text-align: center;
	/*padding: 50px 0;*/
	h2 {
		display: inline-block;
		background: $white;
		padding: 5px 40px;
		text-transform: uppercase;
		font-family: $muli;
		margin: 0;
	}
	&.grey {
		h2 {
			background: #c8c8c8; 
		}
	}
}

.border-rght {
	border-right: 1px solid #d7d7d9;
}
.home-banksmart {
	padding: 50px 0;
	.home-banksmart-sec {
		text-align: center;
		padding: 0 20px;
		.banksmart-img {
			background: url('img/homepage-banksmart.png') no-repeat scroll -798px -105px;
	    display: block;
	    height: 115px;
	    width: 100%;
	    margin-bottom: 10px;
		}
		span {
			font-size: 16px;
			color: $grey;
			display: block;
			font-family: $muli;
			font-weight: 700;
		}
		p {
			font-size: 16px;
			margin-bottom: 20px;
			min-height: 70px;
		}
		a {
			color: #fff;
	    width: 200px;
	    display: inline-block;
	    background-color: $light_purple;
	    height: auto;
	    padding: 10px 0;
	    text-align: center;
	    z-index: 1;
	    border: 2px solid transparent;
	    transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -webkit-transition: all 0.3s ease-in-out;
	    text-transform: uppercase;
	    font-family: $muli;
	    font-weight: 700;
			&:hover {
				background: none;
				border: 2px solid $light_purple;
				color: $light_purple;		
			}
		}
	}
}
.darkgrey-back {
	padding: 50px 0;
	background: #c8c8c8;
}