/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,600,700);*/

/*--- Fonts Used ---*/

/*'muliBT-Medium'*/
/*'muliBT-Book'*/
/*'ArialMT-Regular'*/
/*'Arial'*/

.mar-0 {
	margin: 0;
}
.padd-0 {
	padding: 0 !important;
}
.clear{
	clear: both;
}
.left-padd-0 {
	padding-left: 0;
}
.right-padd-0 {
	padding-right: 0;
}

$purple: #9C1A87;
$light_purple: #dc26bf;
$grey: #505050;
$white: #fff;
$border_grey: #8d8d8d;
$roboto : 'Roboto', sans-serif;
$muli: 'Muli', sans-serif;

body {
	font-family: $roboto;
	color: $grey;
}
a {
	&:hover, &:link, &:visited, &:active {
		text-decoration: none;
	}
	&.active {
		color: $light_purple;
	}
}


/*---- header.php -----*/

header {
	box-shadow: 0 0 10px 1px #aaa;
	z-index: 1;
	.upper-header {
		border-bottom: 1px solid #ddd;
		padding: 20px 0;
		.logo {
			/*padding-top: 15px;*/
			img {
				width: 250px;
				height: auto;
			}
		}
		/*.top-menu {
			ul {
				padding-left: 0;
				margin-top: 0;
				li {
					list-style-type: none;
					display: inline-block;
					margin-right: 8px;
					a {
						color: $grey;
						font-size: 13px;
							font-family: ArialMT-Regular;
						&.active, &:hover {
							color: $light_purple;
						}
					}
				}
			}
			&.header-side-menu {
				ul li {
					margin-right: 5px;
				}
				img {
					width: 15px;
					height: auto;
				}
			}
		}*/
		.header-search {
			float: left;
			padding-top: 2px;
			position: relative;
			width: 410px;
			input {
				padding: 5px 10px;
				color: $white;
				border: 1px solid $purple;
				background: $purple;
				width: 100%;
				position: relative;
				outline: none;
				height: 34px;
				
				&:focus {
					background: none;
					box-shadow: none;
					color: $grey;
					outline: 0;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $white;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $white;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $white;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $white;
				}
			}
			 > div {
        	position: absolute;
			    top: 2px;
			    right: 0;
			    width:30px;
			    color: #FFF;
			    background: $purple;
			    height: 34px;
			}
		}
		.header-subscribe {
			float: right;
			position: relative;
			padding-top: 2px;
			transition: 0.5s ease;
			input {
				width: 0;
				padding: 0 10px;
		    border: 1px solid #777;
		    height: 34px;
		    

		    &:focus {
					background: none;
					box-shadow: none;
					outline: 0;
				}
			}
			img {
			    background: #777;
			    padding: 5px 7px;
			    width: auto;
			    height: 34px;
			    position: absolute;
			    right: 0;
			    top: 2px;
			}
		}
		.header-btns {
			text-align: right;
			a {
		    display: inline-block;
		    padding: 8px 35px;
		    background: #777;
		    border: 1px solid #777;
		    color: $white;
		    text-transform: uppercase;
		    font-weight: 400;
			font-family: $muli;
		    
		    &:first-child {
		    	border: 1px solid #ccc;
		    	background: none;
		    	color: #777;
		    	margin-right: 15px;
		    }
		    &:hover {
		    	background: #777;
		    	color: $white;
		    }
		  }
		}
	}
	ul.header-menu {
		padding-left: 0;
		margin: 0;
		> li {
			list-style-type: none;
			display: inline-block;
			padding: 10px;
			width: 180px;
			border: 1px solid $white;
			position: relative;
			text-align: center;
			> a {
				font-family: $muli;
				font-weight: 600;
				color: $grey;
				font-size: 18px;
				display: block;
				img {
					height: 20px;
					width: auto;
					filter: grayscale(100%);
					margin-top: -2px;
					opacity: 0.8;
				}
			}
			&:hover {
				border: 1px solid $light_purple;
				border-bottom: none;
				>a {
					color: $light_purple;
				}
				.sub-menu {
					display: block;
				}
			}
		}
	}
}

/*---- fixed header css---*/

.fixed-header {
	display: none;
	position: fixed;
	width: 100%;
	z-index: 999999999;
	top: 0;
	transition: 0.3s ease;
	background: rgba(156,26,135,0.8);
	padding: 5px 0;
	box-shadow: 0px 0px 5px 0px #444;
	.fixed-logo {
		padding-top: 10px;
		img {
			width: 100%;
			height: auto;
		}
	}
	ul.fixed-menu {
		padding-left: 0;
		text-align: center;
		li {
			padding: 0 20px;
			display: inline-block;
			list-style-type: none;
			a {
				color: $white;
				font-family: $muli;
			}
		}
	}
	.search {
		text-align: right;
		padding-top: 15px;
		img {
			width: 20px;
			height: auto;
			margin-right: 20px;
		}
		a {
			text-transform: uppercase;
			display: inline-block;
			font-family: $muli;
			color: $white;
			font-size: 12px;
			padding: 0 15px;
			font-weight: 600;
			border-right: 1px solid $white;
			border-left: 1px solid $white;

		}
	}
}

/*--- index.php ----*/

.home-banner {
	z-index: -1;
	position: relative;
	box-shadow: 0px 3px 8px 0px #bbb;
	.banner-item{
		height: 400px;
		background-image: url('img/home_banner_new.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.owl-controls {
		margin-top: 0;
		.owl-buttons {
			display: none;
		}
		.owl-pagination {
	    position: absolute;
	    bottom: 20px;
	    right: 100px;
	    .owl-page {
	    	span {
    			background: $grey;	    		
	    		border-radius: 0;
	    		width: 6px;
	    		height: 6px;
	    	}
	    	&.active {
	    		span {
	    			background: $purple;
	    		}
	    	}
	    }
		}
	}
	img {
		width: 100%;
		height: auto;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 4px 10px 0px #ccc; 
	}
}

/*---- Side Menu CSS ---*/

.side-menu {
	color: $white;
	width: 250px;
  	position: fixed;
  	z-index: 999999;
  	top: 150px;
  	right: 0;
  	transition: 0.3s ease;
  	display: none;
	ul {
		padding-left: 0;
		position: relative;
		margin-top: 0;
		li {
			background: $purple;
			list-style-type: none;
			display: block;
			border-bottom: 1px solid #aaa;
			padding: 8px 30px;
			transition: 0.3s ease;
			&:last-child {
				/*border-bottom: none;*/
			}
			&:hover {
				border-bottom: 1px solid $white;
				opacity: 0.9;
			}
			/*text-align: center;*/
			a {
				text-decoration: none;
				color: $white;
				font-size: 16px;
				font-weight: 600;
				font-family: $muli;
				display: inline-block;
			}
			img {
				width: 30px;
				height: auto;
				margin-right: 20px;
			}
		}
	}
	.side-call {
		position: absolute;
		left: -115px;
		top: 77px;
		font-size: 15px;
		background: $purple;
		transform: rotate(90deg);
		padding: 5px 30px;
		cursor: pointer;
		/*transform: translateX(250px);*/
	}
}

.lightgrey-back {
	box-shadow: 0 5px 10px 0px #ccc;
	margin-top: 6px;
	background: #f3f4f6;
	padding: 20px 0;
	margin-bottom: 50px;
	.home-features {
		.owl-controls {
			margin-top: 0;
			.owl-buttons {
				position: absolute;top: 0;
				width: 100%;
				.owl-prev,.owl-next {
					position: absolute;
					background: none;
					img {
						width: 30px;
						height: auto;
						margin-top: 30px;
					}
				}
				.owl-prev {
					left: -60px;
				}
				.owl-next {
					right: -60px;
				}
			}
			.owl-pagination {
				display: none;
			}
		}
		.homefeatures-sec {
			border-right: 1px solid #d7d7d9;
			padding: 0 20px;
			/*min-height: 100px;*/
			h2 {
				font-family: $muli;
				margin: 0;
				font-size: 16px;
			}
		}
	}
}
a.shiny-link {
	text-transform: uppercase;
	color: $light_purple;
	font-family: $muli;
	font-weight: 700;
	display: inline-block;
	&:after {
		content: '';
		display: block;
		height: 2px;
		width: 0;
		background: transparent;
		transition: width .3s ease, background-color .5s ease;
	}
	&:hover:after {
		width: 100%;
		background: $light_purple;
	}
}
.sec-title {
	background: url('img/sec-title-line.png');
	background-repeat: repeat-x;
	background-position: center; 
	padding: 5px 0;
	text-align: center;
	/*padding: 50px 0;*/
	h2 {
		display: inline-block;
		background: $white;
		padding: 5px 40px;
		text-transform: uppercase;
		font-family: $muli;
		margin: 0;
	}
	&.grey {
		h2 {
			background: #eee; 
		}
	}
}

.border-rght {
	border-right: 1px solid #d7d7d9;
}
.home-banksmart {
	padding: 50px 0;
	.owl-buttons {
		position: absolute;top: 0;
		width: 100%;
		.owl-prev,.owl-next {
			position: absolute;
			background: none !important;
			img {
		    width: 35px;
		    height: auto;
		    margin-top: 150px;
		    border: 1px solid #888;
		    padding: 5px;
			}
		}
		.owl-prev {
			left: -60px;
		}
		.owl-next {
			right: -60px;
		}
	}
	.owl-pagination {
		display: none;
	}
	.home-banksmart-sec {
		text-align: center;
		padding: 0 20px;
		border-right: 1px solid #ccc;
		.banksmart-img {
			background: url('img/homepage-banksmart.png') no-repeat scroll 0px -732px;
	    display: block;
	    height: 115px;
	    width: 100%;
	    margin-bottom: 10px;
		}
		span {
			font-size: 16px;
			color: $grey;
			display: block;
			font-family: $muli;
			font-weight: 700;
		}
		p {
			font-size: 16px;
			margin-bottom: 20px;
			min-height: 70px;
		}
		a {
			color: #fff;
	    width: 200px;
	    background: $light_purple;
	    height: auto;
	    padding: 10px 0;
	    text-align: center;
	    z-index: 1;
	    border: 2px solid transparent;
	    text-transform: uppercase;
	    font-family: $muli;
	    font-weight: 700;

			&:hover {
				color: $light_purple;
			}
		}
			
			/*---Sweep To Top---*/

		.hvr-sweep-to-top {
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-transform: perspective(1px) translateZ(0);
		  transform: perspective(1px) translateZ(0);
		  box-shadow: 0 0 1px transparent;
		  position: relative;
		  -webkit-transition-property: color;
		  transition-property: color;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		}
		.hvr-sweep-to-top:before {
		  content: "";
		  position: absolute;
		  z-index: -1;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background: white;
		  -webkit-transform: scaleY(0);
		  transform: scaleY(0);
		  -webkit-transform-origin: 50% 100%;
		  transform-origin: 50% 100%;
		  -webkit-transition-property: transform;
		  transition-property: transform;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  -webkit-transition-timing-function: ease-out;
		  transition-timing-function: ease-out;
		}
		.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
		  -webkit-transform: scaleY(1);
		  transform: scaleY(1);
		}
	}
}
.darkgrey-back {
	padding: 50px 0;
	background: #eee;
}
.blog-container{
	.load-more{
		display: none;
	}
}
.home-new-sec {
	box-shadow:  0 0 1px 0 rgba(0,0,0, 0.25);
	background: $white;
	/*min-height: 450px;*/
	cursor: pointer;
	margin: 10px;
	margin-top: 20px;
	transition: 0.3s ease;
	> div {
		&.img-div {
			height:231px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	img {
		width: 100%;
		height: auto;
		/*opacity: 0.85;*/
		filter: grayscale(35%);
		/*transition: 0.3s ease;*/
	}
	.home-new-text {
		padding: 20px;
		h3 {
			font-family: $muli;
			text-transform: uppercase;
			font-size: 16px;
			margin-top: 0;
			min-height: 65px;
		}
		p {
			margin-bottom: 20px;
			color: #666;
			font-size: 13px;
		}
		.home-new-social {
			text-align: right;
			a {
				display: inline-block;
				img {
					width: 20px;
				    height: auto;
				    filter: grayscale(0);
				    border-radius: 100%;
				    transition: 0.3s ease;
			    	border: 2px solid $light_purple;
			    	padding: 2px;
			    	opacity: 0.7;
				    &:hover {
				    	// border: 2px solid $white;
				    	// padding: 0;
				    	opacity: 1;
				    }
				}
			}
		}
	}
	&:hover {
		box-shadow:  3px 5px 5px 0 rgba(0,0,0,0.25);
		/*transform: scale(1.02);*/
	 	img {
			/*opacity: 1;*/
			filter: grayscale(0);
		}
	} 
}

/*--- footer.php ---*/

footer {
	background: $purple;
	padding: 15px;
	color: $white;
	a {
		color: $white;
		text-decoration: none;
		&:hover {
			color: $white;
		}
	}
	.footer-sec {
		h3 {
			text-transform: uppercase;
			font-family: $muli;
			font-size: 16px;
		}
		h4 {
			font-family: $muli;
		}
		ul.footer-menu {
			padding-left: 0;
			li {
				list-style-type: none;
				margin-bottom: 10px;
				a {
					display: inline-block;
					&:after {
						content: '';
						display: block;
						height: 1px;
						width: 0;
						background: transparent;
						transition: width .5s ease, background-color .5s ease;
					}
					&:hover:after {
						width: 100%;
						background: $white;
					}
				}
			}
		}
		select {
			width: 100%;
	    padding: 5px;
	    border: 1px solid $white;
	    background: none;
	    /*margin-bottom: 20px;*/
	    &:focus {
	    	outline: none;
	    	box-shadow: none;
	    }
    	option {
    		color: $grey;
    	}
		}
		ul.footer-social {
			padding-left: 0;
			li {
				list-style-type: none;
				display: inline-block;
				margin-right: 5px;
				a {
			    border: 1px solid;
			    border-radius: 100%;
			    display: inline-block;
			    padding: 5px 8px;
					img {
				    width: 14px;
				    height: auto;
					}
					/*&:hover {
						background: #fff;
						img {
							filter: grayscale(100%);
						}
					}*/
				}
			}
		}
	}
	.lower-footer {
		border-top: 1px solid #aaa;
		margin-top: 20px;
		ul {
			padding-left: 0;
			li {
				list-style-type: none;
				display: inline-block;
				padding: 0 15px;
				border-right: 1px solid #aaa;
				a {
					display: inline-block;
					&:after {
						content: '';
						display: block;
						height: 1px;
						width: 0;
						background: transparent;
						transition: width .5s ease, background-color .5s ease;
					}
					&:hover:after {
						width: 100%;
						background: $white;
					}
				}
				&:last-child {
					border-right:none;
				}
			}
		}

	}
}

.sub-menu{
	min-width: 610px;
	min-height: 424px;
	background: #FFF;
	position: absolute;
	z-index: 999;
	top: 45px;
	left: 0;
	padding: 10px;
	display: none;
	> ul {
		list-style: none;
		text-align: left;
		padding-left: 0;
		> li {
			cursor: pointer;
			background: #F7F7F7;
			padding: 5px 10px;
			border-bottom: 1px solid #ddd;
			min-width: 225px;
			> a {
				color: #000;
			}
			> div {
				background: #FFF;
				position: absolute;
				top: 10px;
				left: 235px;
				padding:10px;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				border-right: 1px solid #ddd;
				display: none;
			}
			&.active{
				background: #FFF;
				border-left: 1px solid #ddd;
				> div {
					display: block;
				}
				&:first-child{
					border-top: 1px solid #ddd;
				}
			}
		}
	}
}

.main {
	position: relative;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 998;
	display: none;
}

.mobile-header {
	display: none;
}
.mobile-main {
	display: none;
}
.sliding-icons {
	display: none;
}

/*--- Mobile Responsive ----*/

@media screen and (max-width: 768px) {
	header{
		box-shadow: none;
		position: relative;
		position: fixed;
		width: 100%;
		z-index: 10000;
	}
	main {
		padding-top: 57px;
	}
	.fixed-header {
		display: none !important;
	}
	.side-menu {
		display: none;
	}
	.upper-header {
		display: none;
	}
	.lower-header {
		display: none;
	}

	.mobile-header {
		display: block;
		z-index: 1000;
		background: #FFF;
		box-shadow: 0 2px 2px #CCC;
		> div {
			display: table;
			width: 100%;
			padding: 15px 15px 15px 10px;
			margin-left: 0;
			margin-right: 0;
			> div {
				display: table-cell;
				&:last-child {
					text-align: right;
				}
			}
		}
		
		#menu-mobile {
			a {
				display: inline-block;
				vertical-align: middle;
			}
			a.menu-icon {
				width: 24px;
				height: 24px;
				background-image: url('img/menu.png');
				background-repeat: no-repeat;
				background-size: 24px;
				&.open {
					background-image: url('img/close.png');
				}
			}
			img {
				width: 24px;
				height: auto;
			}
			.logo {
				margin-left: 5px;
				
					width: 160px;
					height: auto;
				
			}
		}
		.right-icons {
			font-size: 15px;
			line-height:24px;
			span {
				// border-right: 1px solid #555;
				padding-right: 5px;
				img {
					width: 18px;
					max-width: 100%;
					height: auto;
				}
			}
		}
	}

	/*--- index.php ----*/

	.home-banner {
		// box-shadow: none;
		// img {
		// 	height: 160px;
		// 	width: auto;
		// }
		.banner-item{
			height: 160px;
			background-image: url('img/home_banner_new_mobile.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		.owl-controls {
			.owl-pagination {
				right: 20px;
				bottom: 0;
			}
		}
	}
	.lightgrey-back {
		margin-bottom: 20px;
		// box-shadow: none;
		.home-features {
			.homefeatures-sec {
				text-align: center;
				border-right: none;
			}
			.owl-controls{
				.owl-buttons {
					// display: none;
					.owl-prev {
						left: -25px;
						img {
							width: 20px;
						}
					}
					.owl-next {
						right: -25px;
						img {
							width: 20px;
						}
					}
				}
			}
		}
	}
	.home-banksmart{
		padding: 20px 0;
	}
	.darkgrey-back{
		padding: 20px 0;
	}
	.home-banksmart {
		.home-banksmart-sec {
			p {
				font-size: 14px;
				min-height: auto;
				padding: 0 15px;
			}
			.banksmart-img{
				max-width: 240px;
			    margin-left: auto;
			    margin-right: auto;
			}
		}
		.owl-controls .owl-buttons div {
			margin-top: -20px;
		}
		.owl-buttons {
			// display: none;
			.owl-prev {
				left: -25px;
				img {
					width: 30px;
				}
			}
			.owl-next {
				right: -25px;
				img {
					width: 30px;
				}
			}
		}
		.home-banksmart-sec {
			border-right: none;
		}
	}
	footer .lower-footer ul {
		li {
			padding: 5px;
			padding-left: 0;
			border-right: 0;
		}
	}
	.blog-container{
		> div {
			&:nth-child(3){
				display: none;
			}
			&:nth-child(4){
				display: none;
			}
		}
		.load-more{
			text-align: center;
			display: block;
			margin: 20px 0 0 0;
			a {
				color: #FFF;
				background: $purple;
				font-size: 14px;
				font-family: $muli;
				padding: 5px 10px;
				display: inline-block;
				min-width: 180px;
				text-align: center;
			}
		}
	}
	.home-new-sec {
		.home-new-text {
			h3 {
				min-height: auto;
			}
		}
		> div {
			&.img-div {
				height:150px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	footer {
		padding: 15px 0;
	}
	.mobile-main {
		display: none;
		position: fixed;
		top: 75px;
		z-index: 1000;
		background: #FFF;
		width: 80%;
		min-width: 240px;
		.open-account {
			padding: 5px 10px;
			a {
				display: inline-block;
				background: #777;
				font-family: $muli;
				font-size: 14px;
				padding: 5px 15px;
				color: #FFF;
			}
		}
		.mobile-menu {
			background: $purple;
			overflow-y:auto;
			max-height: 360px;
			> ul {
				margin: 0;
				padding-left: 0;
				list-style: none;
				> li {
					border-bottom: 1px solid #DDD;
					> a {
						display: block;
						padding: 10px 10px;
						margin-right: 10px;
						color: #FFF;
						font-size: 16px;
						background-image: url(img/plus.png);
						background-repeat: no-repeat;
						background-position: center right;
						background-size: 12px;
						&.open{
							background-image: url(img/minus.png);
						}
						img {
							width: 15px;
							height: auto;
						}
					}

					> ul {
						display: none;
						list-style: none;
						padding-left: 0;
						background: #EEE;
						li {
							border-bottom: 1px solid #DDD;
							a {
								padding: 8px 10px;
								margin-right: 10px;
								display: block;
								color: #000;
								font-size: 13px;
								background-image: url(img/right-chev.png);
								background-repeat: no-repeat;
								background-position: center right;
								background-size: 12px;
							}
						}
					}
				}
			}
		}
	}

	.overlay {
		background: rgba(0,0,0,0.8);
	}
	#sliding-icons{
		&::-webkit-scrollbar{
			width: 0;
		}
	}
	.sliding-icons{
		
		display: block;
		background: $purple;
		padding: 0 0 5px 0;
		overflow-x: auto;
		> div {
			display: table;
			vertical-align: middle;
			text-align: center;
			> div {
				padding: 0 8px;
				margin-top: -5px;
				display: table-cell;
				color: #FFF;
				min-width: 100px;
				span {
					display: block;
    				height: 43px;
    				width: 50px;
    				margin: 0 auto;
    				margin-top: -8px;
					&.support{
						background: url(img/Sprite_Homepage_miscellaneous.png) no-repeat scroll -300px -845px;
					}
					&.call{
						background: url(img/sprite_home_misc.png) no-repeat scroll -9px -552px;
					}
					&.rates{
						background: url(img/sprite_home_misc.png) no-repeat scroll -3px -742px;
					}
					&.apply{
						background: url(img/sprite_home_misc.png) no-repeat scroll -6px -635px;
					}
					&.offers{
						background: url(img/sprite_home_misc.png) no-repeat scroll 0px -820px;
					}
					&.locate{
						background: url(img/sprite_home_misc.png) no-repeat scroll -2px -781px;
					}
					
				}
			}
		}
	}

}